@font-face {
    font-family: "MullerRegular";
    src: url("/fonts/Muller/Regular/MullerRegular.eot");
    src: url("/fonts/Muller/Regular/MullerRegular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/Regular/MullerRegular.woff") format("woff"),
    url("/fonts/Muller/Regular/MullerRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MullerBold";
    src: url("/fonts/Muller/Bold/MullerBold.eot");
    src: url("/fonts/Muller/Bold/MullerBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/Bold/MullerBold.woff") format("woff"),
    url("/fonts/Muller/Bold/MullerBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MullerMedium";
    src: url("/fonts/Muller/Medium/MullerMedium.eot");
    src: url("/fonts/Muller/Medium/MullerMedium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/Medium/MullerMedium.woff") format("woff"),
    url("/fonts/Muller/Medium/MullerMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MullerRegularItalic";
    src: url("/fonts/Muller/RegularItalic/MullerRegularItalic.eot");
    src: url("/fonts/Muller/RegularItalic/MullerRegularItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/RegularItalic/MullerRegularItalic.woff") format("woff"),
    url("/fonts/Muller/RegularItalic/MullerRegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MullerThin";
    src: url("/fonts/Muller/Thin/MullerThin.eot");
    src: url("/fonts/Muller/Thin/MullerThin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/Thin/MullerThin.woff") format("woff"),
    url("/fonts/Muller/Thin/MullerThin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MullerLight";
    src: url("/fonts/Muller/Light/MullerLight.eot");
    src: url("/fonts/Muller/Light/MullerLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Muller/Light/MullerLight.woff") format("woff"),
    url("/fonts/Muller/Light/MullerLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}